<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p><%= @document.name %></p>
  <p><%= @document.loan_amount %></p>
  <p><%= @document.interest_rate %></p>
  <p><%= @document.downpayment %></p>
</body>
