<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h2>Welcome and Thanks for creating a loan with us!</h2>
  <p>Loan Name: <%= @document.name %></p>
  <p>Loan Amount<%= @document.loan_amount %></p>
  <p>Interest Rate: <%= @document.interest_rate %></p>
  <p>Downpayment: <%= @document.downpayment %></p>
</body>
