/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%
}

html {
  box-sizing: border-box;
}

body {
  background-color: #F3F3F3;
  margin: 0px;
}

nav {
  height: 50px;
  margin: 0px;
  min-width: 400px;
  min-height: 50px;
  overflow: auto;
  width: 100%;
  background-color: #293131;
}

.container > span {
  padding: 2px;
  color: white;
  font-size: 30px;
  float: left;

}

.login {
  float: right;
  display: block;
  color: white;
  font-size: 14px;
  padding-top: 10px;
}

.login-form {
  // border: 1px solid black;
  background-color: #A9A9A9;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 50px;
  width: 350px;
  height: 400px;
  -webkit-box-shadow: 0 3px 10px #888;
}

.login-form h2 {
  padding-bottom: 10px;
}

.loan-info {
  width: 600px;
  margin: 50px 100px;
}

.heading {
  font-weight: bold;
}

.sign-up {
  padding-top: 15px;
}
